.account_menu {
    display: block;
}

.account_menu .item {
<<<<<<< HEAD
    display: block;
    padding: 10px;
    border: 1px dotted black;
=======
    display:block;
    padding:10px;
    border-bottom:2px solid gray;
    font-size:1.2em;
    text-decoration:none;
    color:black;
>>>>>>> origin/master
}

.group .item LABEL:after {
    content: ": ";
}

.order_items {
<<<<<<< HEAD
    display: table;
    border-collapse: collapse;
    border: 1px solid gray;
    margin-top: 20px;
=======
    display:table;
    border-collapse:collapse;
    border:1px solid gray;
    margin-top:20px;
    margin-bottom:20px;
>>>>>>> origin/master
}

.order_items .line {
    display: table-row;
}

.order_items .line SPAN {
    display: table-cell;
    font-weight: bold;
    padding: 5px;
    border: 1px;
    text-align: center;
}

.order_items .line .item {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid gray;
    padding: 5px;
}

.order_items .line .item.pos {
    text-align: center;
}

.order_items .line .item.qty {
    text-align: center;
}

.order_items .line .item.price {
    text-align: right;
}

.order_items .line .item.amount {
    text-align: right;
}

.FormRenderer[name='RegisterClient'] .SubmitLine .TextSpace {
    display: none;
}
