.group .item LABEL:after {
    content: ": ";
}

.orders .confirmed .TableView TD[column='order_date'] {
    white-space: nowrap;

}

.orders .confirmed .TableView TD[column='userID'] {
    white-space: nowrap;

}

.orders .confirmed .TableView TD[column='items'] {
    white-space: nowrap;
}

.orders .confirmed .TableView TD[column='note'] {
    max-width: 100px;
}

.KeywordSearch .fields {
    vertical-align: bottom;
}

.KeywordSearch .buttons {
    vertical-align: bottom;
}
