@media screen and (max-width: 768px) {
    
    .main_content .Caption {
        text-align:center;
    }
    .navigation {
        display:block;
        text-align:center;
        padding-top:20px;
    }
    
    .navigation .slot {
        display:block;
        text-align:center;
        margin-bottom:20px;
    }

    .CheckoutPage.customer .login_component {
        display:block;
        text-align:center;
    }
    .CheckoutPage.customer .login_component .inner {
        display:inline-block;
        
    }
    .CheckoutPage.customer .login_component .inner .ColorButton[type='submit'] {
        display:block;
    }
    
    .CheckoutPage.customer .item {
 
        display:inline-block;
        width:50%;
        text-align:center;
        vertical-align:top;
    }
    .CheckoutPage.customer .item.login .login_component {
        display:inline-block;
    }
    .CheckoutPage.customer .item.register .panel {
        display:inline-block;
    }
    
    .CheckoutPage .CartComponent TR[label='item'] TD[field='position'] {
        display:none;
    }
    .CheckoutPage.cart .CartComponent TR[label='item'] TD[field='position'] {
        display:block;
    }
}
@media screen and (max-width: 625px) {

    .CheckoutPage.delivery FORM[name='DeliveryAddress']  {
        display:block;
        text-align:center;
        max-width:100%;
        min-width:inherit;
    }
    .CheckoutPage.delivery FORM[name='DeliveryAddress'] .InputComponent {
        display:inline-block;
        text-align:center;
    }
    .CheckoutPage.delivery FORM[name='DeliveryAddress'] .InputLabel {
        display:block;
        text-align:center;
    }
    .CheckoutPage.delivery FORM[name='DeliveryAddress'] .InputField {
        display:block;
    }
    .CheckoutPage.delivery FORM[name='DeliveryAddress'] .InputField .FieldElements DIV {
        display:block;
        padding-top:10px;
    }

    .CheckoutPage.delivery .InputField .FieldElements {
        text-align:left;
        padding-bottom:10px;
    }

    .CheckoutPage.confirm .item.note FORM {
        display:block;
    }

    .CheckoutPage.confirm .item.note .InputField.TextArea TEXTAREA {
        min-width:100%;
        max-width:100%;
        width:100%;
    }

    .CheckoutPage.confirm .item {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 525px) {
    .CheckoutPage.customer .item {
        display:block;
        width:auto;
    }
    .CheckoutPage.customer .panel {
        width:100%;
        min-width:auto;
    }
    .CheckoutPage.delivery FORM .FieldElements {
        text-align:left;
    }
    .CheckoutPage.delivery FORM .FieldElements .DataIteratorItem {
        display:block;
        margin-top:1em;
        margin-bottom:1em;
    }
    .CheckoutPage.delivery_option FORM .FieldElements {
        text-align:left;
    }
    .CheckoutPage.delivery_option FORM .FieldElements .DataIteratorItem {
        display:block;
        margin-top:1em;
        margin-bottom:1em;
    }
}
