.column.details {
<<<<<<< HEAD
    display: block;
=======
  display:block;
  margin-top:20px;
}

.column.details .product_group {
    display:block;
>>>>>>> origin/master
}

.images {
    display: inline-block;
    /*   max-width:400px; */
    /*   outline:1px dotted gray; */
    vertical-align: top;

}
<<<<<<< HEAD

.images .image_big {
    vertical-align: top;
    display: inline-block;
    /*   float:right; */
    /*   margin-left:10px; */
    max-width: 460px;
}

.images .image_gallery {
    display: inline-block;
    /*   float:left; */
    max-width: 110px;
    margin-left: 10px;
    vertical-align: top;
=======
 .images .image_big {
  vertical-align:top;
  display:inline-block;
/*   float:right; */
/*   margin-left:10px; */
  max-width:500px;
}
 .images .image_gallery {
  display:block;
/*   float:left; */
/*   max-width:50px; */
/*   margin-left:10px; */
  vertical-align:top;
  margin-top:15px;
>>>>>>> origin/master
}

.images .image_gallery .list {
    display: none;
}

/* .images .image_gallery .list:first-child {
  display:block;
}*/

<<<<<<< HEAD
.images .image_gallery .list .item {
    display: block;
    width: 110px;
    height: 110px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
    margin-bottom: 10px;
}

.images .image_gallery .list .item[active='1'] {
    outline: 1px solid red;
}

.images .image_gallery .list .item IMG {
    display: block;
}

.side_pane {
    display: inline-block;
    max-width: 256px;
    /*   outline:1px dotted gray; */
    vertical-align: top;
    text-align: left;
    float: right;
    margin-left: 20px;
    font-size: 1.1em;
    box-sizing: border-box;
=======
 .images .image_gallery .list .item {
  display:inline-block;
  width:64px;
  height:64px;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center center;
  cursor:pointer;
  margin-bottom:10px;
  margin-right:15px;
}
 .images .image_gallery .list .item[active='1'] {
  outline:1px solid red;
}
 .images .image_gallery .list .item IMG {
  display:block;
}

.side_pane {
  display:inline-block;
  max-width:525px;
  min-width:256px;
/*   outline:1px dotted gray; */
  vertical-align:top;
  text-align:left;
/*   float:right; */
  margin-left:20px;
  font-size:1.1em;
  box-sizing:border-box;
>>>>>>> origin/master
}

.side_pane LABEL:after {
    content: ": ";
}

.side_pane .product_name {
<<<<<<< HEAD
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
=======
/*     text-align:center; */
    font-size:1.3em;
    margin-bottom:10px;
    text-transform:uppercase;
    font-weight:bold;
>>>>>>> origin/master
}

.side_pane .sell_price {
<<<<<<< HEAD
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

.side_pane .sizing_colors .current_color {
    text-align: center;
    margin-bottom: 5px;
    box-sizing: border-box;
=======
    font-size:1.5em;
/*     text-align:center; */
    margin-bottom:10px;
}

.side_pane .sizing_colors .current_color {
/*     text-align:center; */
    margin-bottom:5px;
    box-sizing:border-box;
>>>>>>> origin/master
}

.side_pane .sizing_colors .current_color .value {


    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.side_pane .stock_amount {
<<<<<<< HEAD
    text-align: center;
    padding: 10px;
=======
/*     text-align:center; */
    margin-bottom:10px;
>>>>>>> origin/master
}

.side_pane .stock_amount LABEL {
    /*     display:block; */
}

.side_pane .attributes {
    display: table;
    width: 100%;
}

.side_pane .attributes .item {
    display: table-row;
}

.side_pane .attributes .item > LABEL {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding: 6px;

}

.side_pane .attributes .item > LABEL:after {
    content: ":";
}

.side_pane .attributes .item SPAN.value {
    display: table-cell;
    vertical-align: middle;
}


.side_pane .cart_link {
<<<<<<< HEAD
    text-align: center;
    display: block;
    margin-bottom: 10px;
=======
    text-align:center;
    display:block;
    margin-bottom:10px;
    margin-top:10px;
>>>>>>> origin/master
}

.side_pane .cart_link A {
<<<<<<< HEAD

    padding: 20px;
    border: 1px dotted blue;
    display: block;
=======
    
    padding:20px;
    border:1px solid gray;
    display:block;
    text-decoration:none;
    color:gray;
>>>>>>> origin/master
}

.side_pane .summary {

}

<<<<<<< HEAD
.size_chooser {
    margin-bottom: 10px;
    text-align: center;
}

.size_chooser LABEL {
    display: block;
    margin-bottom: 5px;
}

.size_chooser .product_size {

    font-size: 1.3em;

}

.color_chooser {
    display: block;
    vertical-align: top;
    margin-bottom: 10px;
    text-align: center;
=======


.color_chooser {
  display:block;
  vertical-align:top;
  margin-bottom:10px;
/*   text-align:center; */
>>>>>>> origin/master
}

.color_chooser .color_button {
    display: inline-block;
    outline: 1px dotted gray;
    margin-right: 5px;
    cursor: pointer;

}

.color_chooser .color_button[active="1"] {
    outline: 1px solid red;
}

.color_chooser .color_button IMG {
<<<<<<< HEAD
    display: block;
    width: 68px;
    height: 68px;
=======
  display:block;
  width:36px;
  height:36px;
>>>>>>> origin/master
}

.color_chooser .color_button SPAN {
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    width: 68px;
    height: 68px;
}





.size_chooser {
<<<<<<< HEAD
    display: block;
    vertical-align: top;
    margin-bottom: 10px;
    text-align: center;
=======
  display:block;
  vertical-align:top;
  margin-bottom:10px;
/*   text-align:center; */
>>>>>>> origin/master
}

.size_chooser .value {

}
<<<<<<< HEAD

=======
.size_chooser LABEL {
     display:block;
     margin-bottom:5px;
}

.size_chooser .product_size {
 
  font-size:1.3em;

}
>>>>>>> origin/master
.size_chooser .size_button {
    display: inline-block;
    outline: 1px dotted gray;

    margin-right: 5px;
    cursor: pointer;

    vertical-align: top;

    padding: 10px;

}

.size_chooser .size_button[active="1"] {
    outline: 1px solid red;
}

