
body {
    /*   background-color:#ababab; */
    padding-top: 30px;


}

.full {
    display: block;

}

.container {
    max-width: 1045px;
    text-align: left;

    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.border_bottom {
    border-bottom: 1px solid #7c7c7c;
}

.main_content {


  min-height:400px;

  padding-top:20px;


}

.header {
    padding-bottom: 10px;
    text-align: center;
    overflow: hidden;
}

.header .logo {
    background-image: url("../images/store_logo.png");
    background-size: cover;
    width: 149px;
    height: 136px;
    display: inline-block;
    text-align: center;
}

.aside {
    float: right;
    vertical-align: top;
    display: inline-block;
    margin-bottom: -100%;
}

.aside .links {
    display: block;
}

.aside .links .login_pane {

    /*display:inline-block;
    margin-right:10px;*/

}

.aside .links A {
    display: inline-block;
    margin-right: 10px;
    color: #7a7a7a;
    text-decoration: none;

}

.aside .links .checkout_link {
    background-image: url("../images/icon_cart.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.aside .links .contacts_link {
    background-image: url("../images/icon_contacts.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.aside .links .account_link {
    background-image: url("../images/icon_profile.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.aside .search_pane {

    display: block;
    margin-right: 10px;
    margin-top: 30px;
}

.aside .search_pane .KeywordSearchComponent {
    float: right;
    border-bottom: 1px solid #ee2a32;
}

.aside .search_pane .KeywordSearchComponent FORM {
    border-spacing: 0px;
}

.aside .search_pane .KeywordSearchComponent LABEL {
    display: none;
}

.aside .search_pane .KeywordSearchComponent .InputField[field='keyword'] {
    background: none;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.aside .search_pane .KeywordSearchComponent .buttons BUTTON {

    width: 31px;
    height: 31px;
    color: transparent;
    min-width: 31px;
    max-width: 31px;
    border-radius: 0px;
    outline: none;
    border: 1px solid white;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    box-sizing: content-box;
    padding: 0px;
}

.aside .search_pane .KeywordSearchComponent .buttons BUTTON[action='search'] {
    background-image: url("../images/icon_search.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.aside .search_pane .KeywordSearchComponent .buttons BUTTON[action='clear'] {
    display: none;
}

.black {
    background-color: black;
}


.StorePage.home .banner {
    display:block;
    margin-bottom:20px;
}


.footer {
    padding-top: 60px;
    color: white;
    text-align: center;
}

.footer .links {
    margin-bottom: 50px;
    text-align: left;
    vertical-align: top;
}

.footer .links .menu {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.footer .links A {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.footer .links .other {
    display: inline-block;
    vertical-align: top;
    margin-left: 90px;
    text-align: left;
}

.footer .logo {
    background-image: url("../images/logo_footer.png");
    background-size: cover;
    width: 94px;
    height: 86px;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
}

.columns {
    display: table-row;
}

.footer_bottom {
    border-top: 1px solid #df0000;
    color: #b6b6b6;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.1em;
}

.columns .column {
    display: table-cell;
    vertical-align: top;
    text-align: left;
    padding: 5px;
}

.caption {

    font-size:1.4em;
    font-weight:bold;
/*     padding-top:5px; */
    padding-bottom:5px;
    text-decoration:none;
    color:black;

}


/* DynamicPages - content/index.php */
.DynamicPagesBean {
    display: block;
    overflow: hidden;
}

.DynamicPagesBean .photo {

    display: block;
}

.DynamicPagesBean .photo IMG {
    /*   height:160px; */
    display: block;
    width: 100%;
}

.DynamicPagesBean .PagePhotos {
    max-height: 80px;
    display: block;
}

.DynamicPagesBean .PagePhotos IMG {
    height: 80px;
    display: inline-block;
}

.DynamicPagesBean .item_title {
    font-size: 18px;
    display: block;
    padding-top: 15px;

}

.DynamicPagesBean .content {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* --DynamicPages - content/index.php */

/* mce_browser */
body.mce_browser .FormRenderer {
    width: 100%;
    display: block;
}

body.mce_browser .FormRenderer .InputComponent {
    display: block;
    width: 100%;
}

body.mce_browser .FormRenderer .SubmitLine {
    display: block;
    width: 100%;
    text-align: right;
}

body.mce_browser .FormRenderer .SubmitLine .TextSpace {
    display: inline-block;

}

body.mce_browser .FormRenderer .SubmitLine .Buttons {
    display: inline-block;
}


/* You can use the clearfix to do "layout preserving" the same way overflow: hidden does */
/* add class="clearfix" class to the parent, and remove overflow: hidden; */
.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* IE < 8 */


.login_component .submit_line {

}

.login_component .submit_line .forgot_password {


}

.login_component .submit_line BUTTON {
    float: right;
}

.home .section .products {

    margin-left:-5px;
    margin-right:-5px;
    text-align:center;
}

.caption.category_path .ActionRenderer {
/*     font-size:1.2em; */
    font-weight:normal;
    color:gray;

}

.caption.category_path .ActionRenderer:after {
    content: "//";
    padding-left: 5px;
    padding-right: 5px;
    color: gray;

}
.caption.category_path .ActionRenderer:last-child:after {
    display:none;
    
}
.DefaultButton {
    background: none;
    color: #0c2226;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: normal;
    text-transform: uppercase;
}

.DefaultButton:visited {
    color: #0c2226;
    font-weight: normal;
    text-transform: uppercase;
}

.DefaultButton:hover {
    color: #2b7a88;
    font-weight: normal;
    text-transform: uppercase;
}
